<html>
<head>

</head>
<body>

<div>
    Project: {{project.getName}} ({{project.getId}})
</div>

<div>
	{{> project/repositories.html }}
</div>

<div>
	{{> project/patches.html }}
</div>

<div>
	{{> project/issues.html }}
</div>


</body>
</html>